<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440336821190-dv6i15rilvqp1ostbrefkvang43ienbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440336821190-dv6i15rilvqp1ostbrefkvang43ienbd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440336821190-c05bf10fg0umih5n04ob1cf416l688aa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLi_wqKaRF0rtzpHCh37fCu9ZnlDP0Tyo</string>
	<key>GCM_SENDER_ID</key>
	<string>440336821190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myShop</string>
	<key>PROJECT_ID</key>
	<string>mhmd-barakat</string>
	<key>STORAGE_BUCKET</key>
	<string>mhmd-barakat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440336821190:ios:2505e4d6fdecc5e315a0c7</string>
</dict>
</plist>